<!DOCTYPE html>
<html lang="es">
	<head>
		<link rel="shortcut icon" href="../static/images/favicon.ico">
		<title>Portafolio Razordab</title>
		<meta charset="UTF-8" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
		
	</head>
	<body>
		<div class="EnConstruccion"><strong>EN CONSTRUCCIÓN</strong>
			<br>
		 muy pronto :) pero puedes ubicarme en mis redes sociales, intenta un botón ;)
		<br>
		<img class="EnConstruccion-osito" src="../static/images/osito.png">
		</div>
		<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#home">Home</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#sobreMi">Sobre mí</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#trabajo">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">Contacto</a>
					</li>
				</ul>
			</nav>
		<header id="home" class="Header">
				<figure class="Header-imageContainer">
					<img class="Header-image" src="../static/images/yo.jpg" alt="imagen personal" />
				</figure>
				<div class="Header-links">
					<figcaption class="Header-imageDescription">
					<a> 
						Diego Bernal²
					</a>
					</figcaption>
			<br>
			
				<a class="Header-link" href="http://twitter.com/razordab" target="_black" ><img src="../static/images/socialLink1.png"/>
				</a>
				<a class="Header-link" href="http://facebook.com/razordab" target="_black" ><img src="../static/images/socialLink2.png"/></a>
				<a class="Header-link" href="http://tinyurl.com/kgky8gp" target="_black" ><img src="../static/images/socialLink3.png"/></a>
				<a class="Header-link" href="https://www.flickr.com/photos/razordab2009/" target="_black" ><img src="../static/images/socialLink4.png"/></a>
				<a class="Header-link" href="https://www.youtube.com/user/RaZoRDaB/videos" target="_black" ><img src="../static/images/socialLink5.png"/></a>
				<a class="Header-link" href="mailto:dabb8813@gmail.com" target="_black" ><img src="../static/images/socialLink6.png"/></a>
			
					 <P class="Header-profile">
				<strong>Diseñador</strong> profesional en <span class="Header-profileSpan"> Comunicación y Producto</span>, enfatizado en <em>interacción y User Centered Design.</em> <br>
				ah! y Gamer apasionado.
			</P>
		</div>
		</header>
		<section  class="Profile">
			<h2 class="Profile-title u-title">Sobre mí</h2>
			<figure id="sobreMi" class="Profile-logo">
			<img src="../static/images/profilelogo.png"/>
			</figure>
			<figure class="Profile-section" >
					<img class="Profile-image" src="../static/images/profile1.png"/>
				<figcaption>
					<a class="Profile-description" > 
						mis estudios
					</a>
				</figcaption>
			</figure>
			<figure class="Profile-section" >
					<img class="Profile-image" src="../static/images/profile2.png"/>
				<figcaption>
					<a class="Profile-description" > 
						mis habilidades
					</a>
				</figcaption>
			</figure>
			<figure class="Profile-section" >
					<img class="Profile-image" src="../static/images/profile3.png"/>
				<figcaption>
					<a class="Profile-description" > 
						que software?
					</a>
				</figcaption>
			</figure>
		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title u-title">Mi trabajo</h2>
			<article class="Work-item">
				<figure class="Work-imageContainer">
						<img src="" alt="interacción"/>
					<figcaption class="Work-description">
						<a> 
							interacción
						</a>
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
						<img src="" alt="modelado 3D"/>
					<figcaption class="Work-description">
						<a> 
							modelado 3D
						</a>
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">	
				<figure class="Work-imageContainer">
						<img class="Work-image" src="" alt="BTL"/>
					<figcaption class="Work-description">
						<a> 
							BTL
						</a>
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">	
				<figure class="Work-imageContainer">
						<img class="Work-image" src="" alt="Animación / video"/>
					<figcaption class="Work-description">
						<a> 
							Animación / video
						</a>
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">	
				<figure class="Work-imageContainer">
						<img class="Work-image" src="" alt="Web"/>
					<figcaption class="Work-description">
						<a> 
							Web
						</a>
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">	
				<figure class="Work-imageContainer">
						<img class="Work-image" src="" alt="Marca"/>
					<figcaption class="Work-description">
						<a> 
							Marca
						</a>
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">	
				<figure class="Work-imageContainer">
						<img class="Work-image" src="" alt="Fotografía"/>
					<figcaption class="Work-description">
						<a> 
							Fotografía
						</a>
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">	
				<figure class="Work-imageContainer">
						<img class="Work-image" src="" alt="PIezas"/>
					<figcaption class="Work-description">
						<a> 
							PIezas
						</a>
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">	
				<figure class="Work-imageContainer">
						<img class="Work-image" src="" alt="Proyectos varios"/>
					<figcaption class="Work-description">
						<a> 
							Proyectos varios
						</a>
					</figcaption>
				</figure>
			</article>
		</section>

		<footer id="contacto" class="Footer">
			<h3 class="Footer-title u-title" >Contactame</h3>
			<a class="Footer-link" href="http://facebook.com/razordab" target="_black" >
					facebook </a>
				<a class="Footer-link" href="http://twitter.com/razordab" target="_black" >
					 twitter </a>
				<a class="Footer-link" href="http://tinyurl.com/kgky8gp" target="_black" >
					 linkedin </a>
				<a class="Footer-link" href="https://www.flickr.com/photos/razordab2009/" target="_black" >
					 flickr! </a>
				<a class="Footer-link" href="https://www.youtube.com/user/RaZoRDaB/videos" target="_black" >
					youtube </a>
				<a class="Footer-link" href="dabb8813@gmail.com" target="_black" >
					 e-mail </a>
			<p class="Footer-description" >hola q ase q hit de pagina no? bueno contactame y hago algo genial para tu empresa.</p>
			<form class="Footer-form">
				<input class="Footer-formInput" type="text" placeholder="nombre"/>
				<input class="Footer-formInput" type="email" placeholder="E-mail"/>
				<textarea class="Footer-formTextArea"placeholder="cuentame tu historia"></textarea>
				<button class="Footer-formButton" type="submit"> contactarme </button>
			</form>	
		</footer>

	</body>
</html>